[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.7"

[packages]
flask = "==1.0.2"
requests = "==2.21.0"
pycryptodome = "==3.7.3"
rsa = "==4.7"

[scripts]
init = "python initialize_election.py"
node = "python vote_manager_node.py"