<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">
  <link rel="icon" type="image/x-icon" href ="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename = 'script.js') }}"></script>
  <title>BEV</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>
<body>
  <a href="https://www.youtube.com/watch?v=Wu5TDEpAqwQ"><img src="{{ url_for('static', filename = 'sheep.png') }}" alt="Flufflandia's Pride and Joy"></a>
  <div class="alert alert-danger fade" role="alert">
  This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
  <div id = "centerWindow" class ="border border-info">
    <h1> What even <i>is</i> blue? </h1>
    <ul class="list-group" id="options-group">
      <li class="list-group-item list-group-item-info candidate" id="Op1">A feeling</li>
      <li class="list-group-item list-group-item-info candidate" id="Op2">More than a feeling</li>
      <li class="list-group-item list-group-item-info candidate" id="Op3">A color</li>
      <li class="list-group-item list-group-item-info candidate" id="Op4">Y'know, just, life</li>
      <li class="list-group-item list-group-item-info candidate" id="Op5">Eiffel 65</li>
    </ul>
    <div class="input-group mb-3" id="submission-group">
      <input type="number" min ="0" class="form-control" id="voting-id" placeholder="Voter ID #" aria-label="Voter ID #" aria-describedby="basic-addon2">
      <div class="custom-file" id="voting-key">
        <input type="file" class="custom-file-input" id="vote-key-file" onchange="getFileInfo()">
        <label class="custom-file-label" for="inputGroupFile01" id="file-label">Upload Voter Key</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-info" type="button" id="vote-btn"> Submit Vote </button>
      </div>
    </div>
  </div>
</body>
</html>
